@import "vars";


/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
   
    .col-md-12 {
        width: 50%;
    }
    .courses-text{
        width: 100%;
    }

    .img-top,
    .img-diplom,
    .img-portret,
    .img-right,
    .img-bottom,
    .img-left,
    .i-re,
    .box-btn1,
    .box-btn2,
    .btn-popup,
    .socials,
    .footer-title,
    .menu_container,
    footer .btn-footer {
        display: none;
    }
    
}

// ≥768px
@include media-breakpoint-down(md) {




    .h1 {
        font-size: 29px;
        text-align: center;
        line-height: 20px;
        margin-left: -10px;
    }

    .beloved-text {
        text-align: center;
    }

    .circle-video {
        width: 100%;
        margin-top: 30px;
    }
    .courses-text{
        width: 100%;
    }



    // .slider-wrapper {
    //     left: 100px;
    // }
   

    .metodic-section{
        background-image: none;
    }
    .info {
        margin-top: 45px;
        height: 230px;
        margin-left: 228px;
    }

    .h2-main {
        font-size: 30px;
        padding-top: 0px;
        margin-left: 40px;
    }

    .article-title {
        padding-left: 40;
        text-align: center;
    }

    .article-text {
        text-align: center;
        margin-top: 10px;
    }

    .article-link {
        margin-left: 29px;
    }

    .circle-originals {
        margin-right: 180px;
    }


    .courses-title {
        font-size: 22px;
        margin-top: -45px;
        line-height: 32px;
        text-align: center;
    }

    .purpose-courses {
        margin-top: 0px;
        text-align: center;
    }

   

    .result .white-box {
        background: 0 0;
        border-radius: 0%;
        box-shadow: none;
     
    }



    footer {
        padding: 60px 0;
    }

    // .footer-img {
    //     margin-left: 322px;
    //     margin-top: 10px;
    // }

    .btn-footer {
        margin-left: 310px;
    }

    .big-menu {
        margin-left: -23px;
        margin-top: 60px;
        text-align: center;
    }



    .img-top,
    .img-diplom,
    .img-portret,
    .img-right,
    .img-bottom,
    .img-left,
    .i-re,
    .box-btn1,
    .box-btn2,
    .btn-popup,
    .socials,
    .footer-title,
    .menu_container,
    footer .btn-footer {
        display: none;
    }
    .col-sm-6 {
        width: 100%;
    }
  
}

// ≥768px
@include media-breakpoint-down(sm) {
    .h1 {
        font-size: 29px;
        text-align: center;
        line-height: 20px;
        margin-left: 0px;
    }

    .beloved-text {
        text-align: center;
    }

    .circle-video {
        width: 100%;
        margin-top: 30px;
    }

  

    // .slider-wrapper {
    //     left: 30px;
    // }

    .slide-period2 {
        margin-left: 15px;
        margin-top: 10px;
    }

    .slide-styles {
        width: 100%;
        height: 339px;
        margin-top: 15px;
    }

    .slick-dots {
        margin: 10px;
        margin-bottom: 18px;
    }

    #learn-info {
       
        margin-top: 13px;
    }

    .info {
        margin-top: 45px;
        width: 346px;
        height: 200px;
        margin-left: 0px;
    }

    .h2-main {
        font-size: 30px;
        padding-top: 0px;
    }

    .article-title {
        padding-left: 0;
        text-align: center;
    }

    .article-text {
        text-align: center;

        margin-top: 10px;
    }

    .article-link {
        bottom: 22px;
    }

   

    .courses-title {
        font-size: 22px;
        margin-top: -45px;
        line-height: 32px;
    }

    .purpose-courses {
        margin-top: 0px;
    }

   
    .img-top,
    .img-diplom,
    .img-portret,
    .img-right,
    .img-bottom,
    .img-left,
    .i-re,
    .box-btn1,
    .box-btn2,
    .btn-popup,
    .socials,
    .footer-title,
    .menu_container,
    .circle-originals,
    footer .btn-footer {
        display: none;
    }

    .result .white-box {
        background: 0 0;
        border-radius: 0%;
        box-shadow: none;
    }

    footer {
        padding: 100px 0;
    }

    // .footer-img {
    //     margin-left: 138px;

    // }

    .btn-footer {
        margin-left: 128px;
    }

    .big-menu {
        margin-left: -23px;
        margin-top: 100px;
        text-align: center;
    }
   

}

// ≥576px
@include media-breakpoint-down(xs) {
   
}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {}

// ≤768px
@include media-breakpoint-up(md) {}

// ≤992px
@include media-breakpoint-up(lg) {}

// ≤1200px
@include media-breakpoint-up(xl) {
    
}