@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}



::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
	color: $text;
	padding: 0%;
	margin: 0%;
	input,
	textarea {
		border: #666 1px solid;
		outline: none;

		&:focus:required:invalid {
			border-color: red;
		}

		&:required:valid {
			border-color: green;
		}
	}
}

.container {
	max-width: 1140px;
}

.i-re {
	display: block;
	max-width: 100%;
	height: auto;

	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b,
strong {
	font-weight: bold;
}

h1 {
	color: $blue;
}

header {
	padding-top: 40px;
}

.has-submenu {
	position: relative;
}

.banner-section {
	background-image: url('../img/brain-banner.png');
	background-position: top right;
	background-repeat: no-repeat;
	background-color: #ebf6ff;
}


a {
	text-decoration: none;
	color: #131B3F;
}

.main-menu:hover {
	color: #00C1EB;
	transition: 0.5s;
	text-decoration: underline;
}


.main-nav {
	display: flex;
	justify-content: space-evenly;

	a {
		font-size: 12px;
		display: block;

	}
}

.main-nav li {
	font-family: 'Montserrat', sans-serif;
	list-style-type: none;
	font-weight: 100;
}

.has-submenu:hover .submenu {
	display: block;
}

.submenu {
	display: none;
	min-width: 244px;
	padding: 10px;
	position: absolute;
	border-radius: 25px;
	top: 20px;
	background: #FFFFFF;
	box-shadow: 2px 4px 7px rgba(19, 27, 63, 0.15);
	padding: 35px 30px;
	line-height: 30px;
	z-index: 10;

	a {
		font-size: 14px;
		color: #131b3f;

	}

	a:hover {
		color: #00C1EB;
		transition: 0.5s;
		text-decoration: underline;
	}
}

.banner {
	height: 610px;
}


.has-submenu::after {
	content: url(../img/arrow-down.svg);
	position: absolute;
	right: -15px;
	top: -5px;

}


.circle-tel {
	border-radius: 37px;
	background: #00C1EB;
	display: flex;
	font-size: 15px;
	text-align: center;
}

.phone-icon {
	position: absolute;
	background: #00c1eb;
	box-shadow: 0 0 4px rgb(19 27 63 / 25%);
	display: block;
	padding: 5px;
	border-radius: 50%;
	margin-left: -31px;
}

.number {
	color: white;
	margin-left: 30px;
}

.number:hover {
	color: rgb(79, 106, 226);
	transition: 0.8s;
}

.header-phone_icon--styles {
	width: max-content;
	padding: 5px;
	border-radius: 50%;
	border: 1px solid black;
	margin-left: 1px;
}

// p {
// 	font-family: Montserrat;
// 	font-size: 14px;
// 	line-height: 28px;
// 	left: 1000px;
// 	color: #FFFFFF;
// 	font-weight: 600;
// 	font-style: normal;
// }




i {
	margin-left: 6px;
}



.h1 {
	font-family: 'Montserrat', sans-serif;
	margin-top: 60px;
	font-style: normal;
	font-weight: bold;
	font-size: 41px;
	line-height: 43px;
	color: #131B3F;
	font-weight: 600;
}

.beloved-text {
	font-family: 'Montserrat', sans-serif;
	width: 546px;
	height: 71px;
	margin-top: 20px;
	font-style: normal;
	font-weight: 100;
	font-size: 15px;
	line-height: 18px;
}

strong {
	color: #1BC0E7;
}

i {
	color: white;
}

.slide-price {
	margin-left: 20px;
	margin-top: 21px;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	color: #00C1EB;
}


.circle-video {
	width: 149px;
	height: 28px;
	background: #00C1EB;
	border-radius: 37px;
}

.video-icon {
	position: absolute;
	background: #00c1eb;
	box-shadow: 0 0 4px rgb(19 27 63 / 25%);
	display: block;
	padding: 8px;
	border-radius: 50%;

}

.default-link {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	margin-left: 35px;
	color: #FFFFFF;
}

.default-link:hover {

	color: rgb(79, 106, 226);
	transition: 0.8s;

}

.circle-video2 {
	width: 30px;
	height: 28px;
	border-radius: 37px;
	background: #00C1EB;
	box-shadow: 2px 2px 4px rgba(19, 27, 63, 0.25);
}

.text-video {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 25px;
	color: #FFFFFF;
	font-weight: 600;
	font-style: normal;
	box-shadow: 0 0 4px rgb(19 27 63 / 25%);
}


// styles for slider

.slick-dots li button:before {
	font-size: 20px;
	margin-left: -32px;
	margin-top: -27px;
}

.slide-styles {
	width: 501px;
	height: 295px;
	margin-top: 64px;
	background: #FFFFFF;
	box-shadow: 2px 4px 7px rgba(19, 27, 63, 0.15);
	border-radius: 37px
}

.slide-title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 22px;
	margin-left: 15px;
	padding-top: 18px;
}


.slide-text1 {
	margin-top: 25px;
	font-size: 18px;
	margin-left: 15px;
}

.slide-term {
	margin-top: 25px;
	font-size: 15px;
	color: #00C1EB;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	margin-left: 15px;
}

.slide-period1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	margin-top: 25px;
	font-weight: 200;
	margin-left: 15px;
}

.slide-period2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	margin-left: 306px;
	margin-top: -25px;
	font-weight: 200;
}

hr {
	width: 442px;
	height: 0px;
	left: 685px;
	margin-top: 50px;
	border: 1px solid #00C1EB;
}

.slide-price {
	width: 90px;
	height: 18px;
	left: 685px;
	top: 307px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 15px;
	line-height: 18px;
	color: #00C1EB;
}

.line {
	border-bottom: 1px solid #00C1EB;
	margin-top: 40px;
}

.slide-price2 {
	width: 90px;
	height: 18px;
	margin-left: 20px;
	margin-top: 21px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 15px;
	line-height: 18px;
	color: #00C1EB;
}

//styles for metodic

.h1-metodica {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: #131B3F;
	font-weight: 600;
}

.about-matodica {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 100;
	font-size: 15px;
	line-height: 1.4;
	color: #131B3F;
}

.metodic-section {
	height: 380px;
	background-image: url('../img/Frame-1.png');
	background-position: center;
	background-repeat: no-repeat;
	background-color: #FFFFFF;
}

.circle-acquainted {
	border-radius: 37px;
	background: #00C1EB;
	display: flex;
	margin-left: 355px;

	.acquainted-icon {
		position: absolute;
		background: #00c1eb;
		box-shadow: 0 0 4px rgb(19 27 63 / 25%);
		display: block;
		padding: 3px;
		border-radius: 50%;
		margin-left: -79px;
	}

	.acquainted-text {
		font-family: 'Montserrat', sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		margin-left: 79px;
		color: #ebf6ff;
	}
}


.acquainted-text:hover {
	color: rgb(79, 106, 226);
	transition: 0.8s;
}



.circle-originals {

	border-radius: 37px;
	background: #00C1EB;
	display: flex;
	margin-top: 27px;
	margin-left: 356px;

	.originals-text {
		font-family: 'Montserrat', sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		margin-left: 71px;
		color: #ebf6ff;
	}
}

.originals-icon {
	position: absolute;
	background: #00c1eb;
	box-shadow: 0 0 4px rgb(19 27 63 / 25%);
	display: block;
	padding: 2px;
	border-radius: 50%;
	margin-left: -68px;
}

.originals-text:hover {
	color: rgb(79, 106, 226);
	transition: 0.8s;
}

#learn-info {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 100;
	font-size: 14px;
	color: #131B3F;
	margin-top: 23px;

	.timetable {
		color: #00C1EB
	}
}


//styles for article
.article-section {
	height: 507px;
	background: #00C1EB;
}

section.article {
	background-image: url(../img/lines.svg);
	background-size: cover;
	background-position: bottom center;
}

.h2-main {
	position: absolute;
	padding-top: 72px;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 38px;
	line-height: 43px;
	color: #FFFFFF;
}

.post-wrapper {
	width: 263px;
	height: 268px;
	background: white;

	background: #FFFFFF;
	box-shadow: 2px 4px 7px rgba(19, 27, 63, 0.15);
	border-radius: 37px;
}

.article-title {
	padding-left: 14px;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	color: #131B3F;
}

.article-text {
	display: flex;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	margin-left: 14px;
	margin-top: 26px;
	font-weight: 100;
	font-size: 14px;
	line-height: 20px;
	color: #131B3F;
}

.info {

	margin-top: 166px;
	background: #fff;
	border-radius: 37px;
	width: 263px;
	height: 220px;
}

.info:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	transition: 0.6s
}

.article-link {
	margin-left: 14px;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 15px;
	color: #00C1EB;
}

//styles for infocourses


// .infocourses{
// 	background: #EBF6FF;
// 	height: 500px;
// }
.courses-title {
	width: 648px;
	height: 129px;
	margin-top: 52px;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	line-height: 43px;
	color: #131B3F;
}


.purpose-courses {

	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #131B3F;
	margin-top: -38px;

}

.line2 {
	border-bottom: 1px solid #00C1EB;
	margin-top: 26px;
	margin-left: 35px;
}

.courses-text {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	color: #ebf6ff;
	border-radius: 37px;
	background: #00C1EB;
	display: block;
	max-width: 192px;
	padding: 5px;
	margin-top: 20px;
	text-align: center;

}



.courses-icon {

	position: absolute;
	background: #00c1eb;
	-webkit-box-shadow: 0 0 4px rgb(19 27 63 / 25%);
	box-shadow: 0 0 4px rgb(19 27 63 / 25%);
	display: block;
	padding: 3px;
	border-radius: 50%;
	left: 0;
	margin-top: -3px;
}


.courses-text:hover {
	color: rgb(79, 106, 226);
	transition: 0.8s;
}

.img-top {
	margin-left: 195px;
	margin-top: 100px
}

.img-right {
	position: absolute;
	margin-left: 350px;
	margin-top: 50px
}

.img-bottom {
	position: absolute;
	margin-top: 283px;
	margin-left: 170px;
}

.img-left {
	position: absolute;
	margin-top: 354px;
	margin-left: -280px;
}

.img-diplom {
	position: absolute;
	margin-top: 53px;
}

.img-portret {
	margin-left: -173px;
	margin-top: 199px;
}

//styles for result
.result {
	height: 557px;
	background-color: #ebf6ff;



	.white-box {
		margin-top: 139px;
		position: relative;
		width: 501px;
		height: 275px;
		background: #FFFFFF;
		box-shadow: 2px 4px 7px rgba(19, 27, 63, 0.15);
		border-radius: 37px;
	}

	.h4 {
		padding-top: 20px;
		margin-left: 15px;
		font-family: 'Montserrat', sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 21px;
		line-height: 24px;
		color: #131B3F;
	}

	.box-text {
		margin-left: 15px;
		font-family: 'Montserrat', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: #131B3F;
	}

	.box-text-big {
		margin-left: 15px;
		font-family: 'Montserrat', sans-serif;
		font-style: normal;
		font-weight: 100;
		font-size: 15px;
		line-height: 15px;
		color: #131B3F;
	}
}


.result-text {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	margin-left: 40px;
	color: #ebf6ff;
	border-radius: 37px;
	background: #00C1EB;
	display: block;
	max-width: 180px;
	margin-top: 20px;
	margin-left: 15px;
	text-align: center;
}

.sign-text {

	position: relative;
	font-family: Montserrat, sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	margin-left: 40px;
	color: #ebf6ff;
	border-radius: 37px;
	background: #00c1eb;
	display: block;
	max-width: 180px;
	margin-top: 20px;
	margin-left: 15px;
	text-align: center;

}

.sign-icon {

	position: absolute;
	background: #00c1eb;
	-webkit-box-shadow: 0 0 4px rgb(19 27 63 / 25%);
	box-shadow: 0 0 4px rgb(19 27 63 / 25%);
	display: block;
	padding: 4px;
	border-radius: 50%;
	left: 0;

}

.result-icon {
	position: absolute;
	background: #00c1eb;
	box-shadow: 0 0 4px rgb(19 27 63 / 25%);
	display: block;
	padding: 4px;
	border-radius: 50%;
	left: 0px;
}

.result-text:hover {
	color: rgb(79, 106, 226);
	transition: 0.8s;
}

.box-btn1 {
	width: 260px;
}

.box-btn2 {
	width: 260px;
	margin-left: -62px;
}

.box-btn {
	display: flex;
}

.circle-sign {
	border-radius: 37px;
	background: #00C1EB;
	display: flex;
	max-width: 180px;
	margin-top: 20px;
	margin-left: 15px;

	.sign-text {
		font-family: 'Montserrat', sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 15px;
		margin-left: 40px;
		color: #ebf6ff;
	}
}

.sign-text:hover {
	color: rgb(79, 106, 226);
	transition: 0.8s;
}

.popup-video {
	border-radius: 37px;
	display: block;
}


.i-re {
	display: block;
	max-width: 127%;
	height: auto;
	border-radius: 37px;
	margin-left: -150px;
	margin-top: 75px
}


.img {
	margin-left: 10px;
	vertical-align: middle;
	border-style: none;
}

.btn-popup {
	position: absolute;
	border: 1px solid #00c1eb;
	border-radius: 37px;
	padding-left: 15px;
	color: #fff;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	font-size: 12px;
	display: flex;
	background: rgba(0, 0, 0, .5);
	border-color: #fff;
	width: 159px;
	height: 28px;
	right: 232px;
	bottom: 346px;
}

.popup-icon {
	position: absolute;
	left: 10px;
}

.btn-popup:hover {
	background-color: #00C1EB;
	transition: 0.6s;
}

//styles for footer

footer {
	background-color: #131b3f;
	padding: 45px 0;

	.footer-row {
		margin-right: -15px;
		margin-left: -15px;
	}

	.footer-logo {
		margin-bottom: 23px;
		display: block;
		margin-top: -30px;
		margin-left: -25px;
	}

	.btn-footer {
		position: absolute;
		width: 159px;
		height: 25px;
		color: #fff;
		font-family: Montserrat;
		font-style: normal;
		font-weight: 600;
		font-size: 11px;
		line-height: 21px;
		background: #00C1EB;
		border-radius: 37px;
		text-align: center;

	}

	.footer-icon {
		position: absolute;
		background: #00c1eb;
		box-shadow: 0 0 4px rgb(19 27 63 / 25%);
		display: block;
		padding: 6px;
		border-radius: 50%;

	}
}

.socials {
	width: 100%;
	padding-left: 0;
	justify-content: space-evenly;
	display: flex;
	list-style-type: none;
	left: 50px;
	margin-top: 66px;
	margin-bottom: 20px;
	margin-left: -25px;

	a {
		color: #fff;
	}
}

.menu_li {
	color: #fff;

}


.footer-title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.4;
	color: #fff;
	margin-top: -20px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	margin-left: 26px;
}

.menu {

	padding-left: 20px;
	color: #fff;

	margin-left: 16px;
}

.paragraph {
	font-size: 14px;
	line-height: 22px;
	color: #fff;
	display: block;
}

.paragraph:hover {
	color: #00C1EB;
	transition: 0.4s;
}

.big-menu {
	list-style-type: none;
	margin-top: -15px;

	p {
		color: #fff;
		font-family: 'Montserrat', sans-serif;
		font-style: normal;
		font-weight: bold;
	}

	.footer-contacts {
		color: #fff;
		font-family: 'Montserrat', sans-serif;
		font-style: normal;
		font-weight: 100;
	}


}

.footer-contacts:hover {
	color: #00C1EB;
	transition: 0.4s;
}

.big-paragraph {

	color: #fff;
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 15px;
	padding-bottom: 26px
}

.btn-div {
	margin-left: -25px;
}

.big-paragraph:hover {
	color: #00C1EB;
	transition: 0.4s;
}

.socials-container {
	width: 150px;
	padding-left: 0;
	justify-content: space-evenly;
	display: flex;
	list-style-type: none;
	left: 50px;

	margin-top: 18px;

	a {
		color: #fff;
	}
}

@import "media"; // Always at the end